
@font-face {
  font-family: "Lato-LightItalic";
  src: url("../webfont/Lato-LightItalic.eot") format("embedded-opentype"),
    url("../webfont/Lato-LightItalic.woff2") format("woff2"),
    url("../webfont/Lato-LightItalic.woff") format("woff");
}
    
    /*Habilitar siempre y cuando este acreditado la acreditada*/
    .acreditacion::after {
      background: url("../../../img/ .svg");
      background-position: bottom;
      background-size: 100% 100%;
      bottom: -100px;
      content: "";
      display: block;
      height: 37%;
      position: absolute;
      width: 27%;
      z-index: 1;
      margin-left: 72%;
    }
  
    .banner::after {
      background: url("../../../img/forma-fac-carreras.svg");
      background-position: bottom;
      background-size: 100% 100%;
      bottom: 0px;
      content: "";
      display: block;
      height: 32px;
      position: absolute;
      width: 100%;
    }
  
   
  
    .banner-titulo .txt-admisiones{
      color: #fff;
      font-family: "Lato-BlackItalic";
      font-size: 20px;
      top: -62%;
       position: absolute;
       font-weight: bold;  
    }
  
    .banner-titulo .txt-fechas{
      color: #fff;
      font-family: "Lato-BlackItalic";
      font-size: 15px;
      background-color: #000000;
      text-align: center;
      width: 50%;
      margin-top: 7px;
    }
  
    
  
    .banner-titulo .txt-fechas2{
      /* display: inline-block; */
      color: #fff;
      font-family: "Lato-BlackItalic";
      font-size: 15px;
      background-color: #000000;
      text-align: center;
      width: 50%;
      /* margin-left: 75px; */
      margin-top: 7px;
    }
  
  
    .facultad .link-interno nav a {
      color: #003365;
      line-height: 2.2;
      text-decoration: none;
      list-style: none;
      font-family: "Lato-LightItalic";
      font-size: 12px;
      font-weight: bold;
      margin-left: -25px;
    }

        /********************MODAL**********/
            /* Estilos para la ventana modal */
            .modal {
              display: none;
              position: fixed;
              z-index: 1;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              overflow: auto;
              background-color: #7e7f7e;
          }
  
          .modal-content {
              background-color: #fefefe;
              margin: 6% auto;
              /* padding: 20px; */
              border: 1px solid #888;
              width: 80%;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
              /* height: 615px; */
          }
  
          /* Estilos para el botón de cerrar */
          .close {
              color: #aaa;
              float: right;
              font-size: 28px;
              font-weight: bold;
          }
  
          .close:hover {
              color: black;
              text-decoration: none;
              cursor: pointer;
          }

          /*modal equipo*/

          /*Personalizacion del boton*/
          .btn-animation.show .btn-container .btn {
            /* color: #8c8c8d; */
            color: #000;
            font-weight: bold;
            letter-spacing: 0.3px;
            font-family: "Urbanist-Bold";
            font-size: 18px;
          }


 
    .carreras h1 {
      border-bottom: 4px solid #000000;
    }
    
    .carreras nav li::marker {
      color: rgba(251,206,48,255);
    }
    
    .carreras h4 {
      color: #277892;
      font-family: "Urbanist-Bold";
      font-size: 18px;
    }
    
    .carreras nav a {
      color: #898989;
      line-height: 1.7;
      text-decoration: none;
    }

    /* Estilos al pasar el cursor sobre el enlace */
    .carreras nav a:hover {
     color: #000000;
   }

   .carreras nav li::marker {
    color: #000000;
  }
    
     /* .estudiante-ficha .img-box{
      background-image: url("/img/acerca-sistemas.webp");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      min-height: 240px; 
    }  */
   
    .estudiante-ficha .img-box {
      background-image: url("../../../img/metolodogia-sistemas.webp");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      min-height: 570px;
    }
    /*****************************************************************************************************/
    /* */
    
     
      /*menu interno*/
      .link-interno .dropstart{
        position: absolute;
        margin-top: -150%;
        margin-left: 70%;
      }
  
      .link-interno .btn-secondary{
        position: relative;
        background-color: #000000;
        color: #fff;
        margin-top: 57%;
        border: none;
        font-size: 130%;
        border-radius: 20%;
        margin-left: 3%;
      }

      .link-interno .dropstart{
        position: fixed;
        /* top: 380px; */
        right: 0;
        /* width: 3%; */
        height: 10vh;
      }

      .swiper-slide img {
        /* display: block; */
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      /*Boton acreditacion*/
      @media (min-width:576px) {
        .acreditacion::after {
          bottom: -210px;
          height: 38%;
          width: 18%;
          margin-left: 76%;
        }
      }

      @media (min-width: 768px) {
        .acreditacion::after {
          bottom: -210px;
          height: 52%;
          width: 14%;
          margin-left: 80%;
        }
      }

      @media (min-width: 992px) {
        .acreditacion::after {
          bottom: -210px;
          height: 47%;
          width: 11%;
          margin-left: 82%;
        }
      }


      @media (min-width: 1200px) {
        .modal-xl {
          --bs-modal-width: 1166px;
        }
      }
    
  
      .link-interno  .dropdown-menu{
        width: 20%;
        text-align: center;
        background-color: transparent;
        border: none;
        position: relative;
      }
  
      .link-interno .bloque-interno{
        width: 90%;
        margin-left: 39%;
        padding: 14px;
        border-radius: 20px 0px 0px 20px;
      }
  
      .link-interno .bloque-interno i{
        margin-top: -70%;
    }

    section.s .carrera-label {
      color: #000000;
    }

   /*espacios-facultad*/
   .espacios{
      color: #003366;
      font-family: "Lato-BlackItalic";
      text-align: center;
      margin-bottom: 125px;
      margin-top: 75px;
    }

    /*Labs*/
    /*swiper*/

    .swiper {
      width: 285px;
      height: 150px;
      overflow-y: visible;
      /* opacity: 0.5; */
    }
  
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .espacios .btn-next{
      top:142px;
      right:0;
      color: #003366;
      border-radius: 100%;
      width: 11%;
      height: 20%;
      font-weight: bold;
      border: 2px solid #003366;
    }
  
    .espacios .btn-prev{
      top:142px;
      left: 227px;
      border-radius: 100%;
      width: 11%;
      height: 20%;
      color: #003366;
      border: 2px solid #003366;
      font-weight: bold;
    } 
  
    .espacios .btn-next:hover{
      border-width: 2px;
      background-color: #003366;
      color: white;
    }
  
    .espacios .btn-prev:hover{
      border-width: 2px;
      background-color: #003366;
      color: white;
    }
  
    .espacios .btn-next::after{
      font-size: 17px;
    }
  
    .espacios .btn-prev::after{
      font-size: 17px;
    }

    @media (min-width:576px) 
    {
      /*Personalizacion del boton*/
      .btn-animation.show .btn-container .btn {
        /* color: #8c8c8d; */
        font-size: 26px;
       }
    }


    @media (min-width: 1200px) 
    { 
      .espacios h1{
        font-size: 58px;
      }

      /*Personalizacion del boton*/
      .btn-animation.show .btn-container .btn {
        /* color: #8c8c8d; */
        font-size: 25px;
       }
    }

    @media (min-width: 1400px) 
    { 
      .espacios h1{
        font-size: 78px;
      }
      
       /*Personalizacion del boton*/
      .btn-animation.show .btn-container .btn {
        /* color: #8c8c8d; */
        font-size: 22px;
       }
    }

    /*Modal*/
    .modal-content {
      /* height: 650px; */
      height: 100%px;
    }
    
    /*576*/
    @media (min-width: 576px) 
    {  
      .link-interno .bloque-interno {
        padding: 26px;
      }
        
    .banner-titulo .txt-admisiones {
      font-size: 37px;
      top: -64%;
    }

    .swiper {
      width: 516px;
      height: 292px;
    }

    .swiper-button-next{
      top:-28px;
      right:14px;
      width: 7%;
      height: 12%;
    }
  
    .swiper-button-prev{
      left: 424px;
      top: -27px;
      width: 7%;
      height: 12%;
    }


    .espacios .btn-next{
      top:248px;
      width: 9%;
      height: 17%;
    }
  
    .espacios .btn-prev{
      top:248px;
      left: 440px;
      width: 9%;
      height: 17%;
    } 

    .campo img{
      width: 50%;
    }


  }/*Fin 576px*/
    
    /*Resolución 768*/
    @media (min-width: 768px)
     {
  
      .link-interno .bloque-interno {
        padding: 26px;
      }
  
      .bloque-interno{
        /* opacity: 0.6; */
        top: -8px;
         margin-left: 40%;
      }

      .banner-titulo .txt-admisiones {
        top: -220px;
        font-size: 30px;
      }
      .banner-titulo .txt-fechas {
        width: 24%;
      }
      .banner-titulo .txt-fechas2{
        width: 24%;
      }

      .facultad .link-interno {
        top: 430px;
    }
    /*swiper*/
    .swiper {
      width: 696px;
      height: 387px;
    }

    .espacios .btn-next{
      top:86%;
      width: 7%;
      height: 13%;
    }
  
    .espacios .btn-prev{
      top:86%;
      left: 85%;
      width: 7%;
      height: 13%;
    } 


    } /*Fin 768px*/
  
  
    /*992px*/
    @media (min-width: 992px) {
      .link-interno .bloque-interno {
        /* padding: 26px; */
        width: 97%;  
      }  
      .facultad .link-interno{
        padding: 0px;
        height: 155px;
        width: 107px;
        top: 538px;
        font-size: 25px;
      }
      .banner-titulo .txt-admisiones {
        top: -220px;
        font-size: 33px;
      }
      /*seccion laboratorio*/  
      .swiper{
        width: 935px;
        height: 517px;
      }
     
    .espacios .btn-next{
      top:81%;
      width: 5%;
      height: 9%;
    }
  
    .espacios .btn-prev{
      top:81%;
      left: 89%;
      width: 5%;
      height: 9%;
    } 

    .modal-content {
      height: 100%;
    }
  
    } /*Fin 992px*/
  

    /*1200*/
    @media (min-width: 1200px) {
  
      .link-interno .bloque-interno{
        width: 82%;
        margin-left: 26%;
        padding: 92px;
        border-radius: 20px 0px 0px 20px;
      }
  
      .link-interno .bloque-interno i{
        margin-top: 25%;
    }
  
    .link-interno .lista{
      margin-left: -43px;
    }
  
      .link-interno .lista{
        margin-left: -22px;
      }
  
      .link-interno .dropdown-menu {
        text-align: left;
      }
  
      .acreditacion::after {
        bottom: -10px;
        height: 18%;
      }
  
      .banner-titulo .caja-eventos {
        top: -211px;
        margin-left: 25px;
      }    
  
      .banner-titulo .txt-fechas {
        font-size: 20px;
        top: -80%;
        width: 18%;
      }
  
      .banner-titulo .txt-fechas2 {
        font-size: 20px;
        top: -80%;
        width: 18%;
      }
  
      .banner-titulo .tittle-sede, .tittle-campus {
        font-size: 15px;
      }
  
      .banner-titulo .mm {
        font-size: 22px;
        margin-top: -7px;
      }
  
      .banner-titulo .dd {
        margin-top: -26px;
      }
  
      .banner-titulo .hh {
        font-size: 14px;
        margin-top: -22px;
      }

      .facultad .link-interno{
        width: 160px;
        top: 222px;
      }

      
  
      .facultad .link-interno nav a {
        font-size: 27px;
      }
  
      .carreras h1 {
        font-size: 78px;
      }
  
      .carreras h4 {
        font-size: 26px;
      }
  
      .carreras ul{
        font-size: 22px;
      }
  
      .carreras h1 label {
        font-size: 77px;
      }
  
      .acerca h2 {
        font-size: 45px;
      }
  
      .decano p {
        font-size: 19px;
      }
  
      .decano .img-decano {
        width: 500px;
        margin-top: 10px;
      }
  
      .decano h3 {
        font-size: 58px;
      }
  
      section.estudiante-ficha h3 label {
        font-size: 100px;
      }
      .banner-titulo .caja-eventos {
        margin-top: -2%;
      }
      .banner-titulo .txt-admisiones {
        top: -194%;
      }
      .banner-titulo .txt-admisiones {
        font-size: 38px;
      }
  
      .banner::after {
        bottom: 0%;
        height: 120px;
      }
  
      
      section.estudiante-ficha h3 {
        font-size: 51px;
      }
  
      section.estudiante-ficha h3 label {
        font-size: 58px;
      }
  
      section.estudiante-ficha .texto {
        font-size: 19px;
      }
  
      section.estudiante-ficha .btn-info {
        margin-left: 44px;
      }
      section.s h5 {
        font-size: 30px;
      }
      
      .link-interno .dropstart {
        margin-top: -60%;
      }

      /*laboratorios*/
      .swiper{
        width: 1116px;
        height: 617px;
    }

    .campo img{
      width: 35%;
    }

   .modal1 .modal-content {
      height: 100%; 
    }

    .modal2 .modal-content{
      height: 920px;
    }
  

    }/*fin 1200*/
  
      /*1400*/
      @media (min-width: 1400px) {
  
        .banner::after {
          bottom: 0%;
          height: 130px;
        }
  
        .link-interno .dropstart {
          margin-top: -5%;
          margin-left: 34%;
        }
    
        .link-interno .bloque-interno {
          padding: 26px;
        }
  
        .facultad .link-interno{
          width: 160px;
        }
  
        .facultad .link-interno-nav{
          margin-top: 41px;
          padding: 11px;
        }
  
        .banner-titulo .caja-eventos {
          top: -80;
          margin-left: 25px;
        }
  
        .banner-titulo .txt-fechas{
          width: 17%;
        }
  
        .banner-titulo .txt-fechas2{
          width: 17%;
        }
  
        .link-interno .btn-secondary{
          position: relative;
          /* padding: 5px; */
          background-color: #000000;
          color: #fff;
          margin-top: 22%;
          border: none;
          font-size: 50px;
          border-radius: 20%;
        }
  
        .link-interno .dropstart{
          position: fixed;
          top: 380px;
          right: 0;
          width: 5%;
          height: 10vh;
        }
  
        .link-interno  .dropdown-menu{
          background-color: #036500;
          width: 20%;
          text-align: center;
          background-color: transparent;
          border: none;
          position: relative;
  
  
        }
  
        .link-interno .bloque-interno{
          width: 82%;
          margin-left: 34%;
          padding: 100px;
          border-radius: 20px 0px 0px 20px;
        }
  
        .link-interno .bloque-interno i{
          margin-top: 25%;
      }
  
      .link-interno .lista{
        margin-left: -43px;
      }
  
      section.estudiante-ficha {
        font-size: 20px;
      }
  
      section.estudiante-ficha h3 {
        font-size: 75px;
        margin-top: 145px;
      }
  
      section.estudiante-ficha h3 label {
        font-size: 86px;
      }
  
      section.estudiante-ficha .btn-info {
        margin-left: 44px;
      }
      section.s h5 {
        font-size: 35px;
      }

      /*seccion laboratorio*/ 
     .swiper{
       width: 1304px;
       height: 722px;
      } 
    }

    @media (min-width: 1600px){
      /* .acreditacion::after {
        bottom: 10px;
        height: 15%;
      } */
      .espacios .btn-next{
        top:93%;
        width: 4%;
        height: 8%;
      }
    
      .espacios .btn-prev{
        top:93%;
        left: 91%;
        width: 4%;
        height: 8%;
      } 
    }
  
    @media (min-width: 1800px) {
      section.estudiante-ficha {
        font-size: 20px;
      }
  
      section.estudiante-ficha h3 {
        font-size: 53px;
        margin-top: 145px;
      }
  
      section.estudiante-ficha h3 label {
        font-size: 53px;
      }
  
      section.estudiante-ficha .btn-info {
        margin-left: 44px;
      }
  
      section.estudiante-ficha .texto {
        margin-top: 2%;
        margin-left: 8%;
        width: 71%;
        margin-bottom: 34%;
      }
      section.estudiante-ficha .btn-info {
        margin-left: 116px;
      }

      .link-interno .dropstart {
        position: fixed;
        width: 3%;
      }
      
      .espacios .btn-next{
        top:93%;
        width: 3%;
        height: 8%;
      }
    
      .espacios .btn-prev{
        top:93%;
        left: 93.5%;
        width: 3%;
        height: 8%;
      } 
    }

    @media (min-width:2000px) {
      .acreditacion::after {
        bottom: -15px;
        height: 145px;
      }
      
    }
  
   
     
  /*Swipper Juanma*/
  .swiper-gallery {
    height: 500px;
    width: 100%;
  }

  .swiper-gallery .swiper-slide {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    width: fit-content;
  }

  .swiper-gallery  .swiper-slide img {
    display: block;
    height: 100%;
    opacity: .4;
    transition: .5s;
    width: 100%;
  }

  .swiper-gallery .swiper-slide-active img {
    opacity: 1;
  }

  .swiper-gallery .swiper-button-next{
    top:555px;
    width: 11%;
    height: 6%;
    left: 88%;
  }

  .swiper-gallery .swiper-button-prev{
    top:555px;
    width: 11%;
    height: 6%;
    left: 75%;
  }

  @media (min-width:576px) 
  {
    .swiper-gallery .swiper-button-next{
      width: 6%;
      height: 6%;
      top:98%;
    }
  
    .swiper-gallery .swiper-button-prev{
      width: 6%;
      height: 6%;
      top:98%;
      left:80%;
    }
    
  }


  @media (min-width: 768px) {

  .swiper-gallery .swiper-slide-active ~ * img {
      height: 75%;
    }

    .swiper-gallery .swiper-button-next{
      width: 5%;
      height: 6%;
      top:97%;
    }
  
    .swiper-gallery .swiper-button-prev{
      width: 5%;
      height: 6%;
      top:97%;
      left:82%;
    }
  }

  @media (min-width:992px) 
  {
    .swiper-gallery .swiper-button-next{

      width: 4%;
      height: 7%;
      top:92%;
      left:92%;

    }
  
    .swiper-gallery .swiper-button-prev{
      width: 4%;
      height: 7%;
      top:92%;
      left:87.5%;
    }

  }

  @media (min-width:1200px) 
  {
    .swiper-gallery .swiper-button-next{

      width: 4%;
      height: 8%;

    }
  
    .swiper-gallery .swiper-button-prev{
      width: 4%;
      height: 8%;
      left: 87.5%
    }

  }

  @media (min-width:1600px) 
  {
    .swiper-gallery .swiper-button-next{

      width: 50px;
      height: 50px;

    }
  
    .swiper-gallery .swiper-button-prev{
      width: 50px;
      height: 50px;
      left: 88.5%
    }

  }

  .espacios .head-espacios {
    top: 110px;
    font-family: "Lato-BlackItalic";
    font-size: 30px;
    left: 18px;
  }

  @media (min-width:576px) {
    .espacios .head-espacios {
      top: 205px;
      font-size: 35px;
      left: 30px;
    }
  }

  @media (min-width: 992px) {
    .espacios .head-espacios {
      top: 348px;
      font-size: 35px;
      left: 70px;
    }
  }

  @media (min-width:1200px) 
  {
  .espacios .head-espacios{
    top: 26%;
    font-size: 62px;
    left: 78px;
  }
}

.espacios .img-banner{
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
  border-bottom-left-radius: 37px; 
  border-bottom-right-radius: 37px; 
}

.espacios .img-footer{
  margin-bottom: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 37px; /* Radio de la esquina inferior izquierda */
  border-bottom-right-radius: 37px; /* Radio de la esquina inferior derecha */
  overflow: hidden; /* Para recortar cualquier desbordamiento si la imagen es más grande que el contenedor */
}