
.mision-vision p{
  text-align: justify;
}

  .img-acerca-fac {
    background: url("../../../img/paralax-odontologia.webp") no-repeat fixed center center;
    overflow-x: clip;
    height: 700px;
  }

  .img-acerca-fac {
    background-size: cover;
  }
  
  /* seccion metodologia */
  /* .estudiante-ficha .img-box {
    background-image: url("/img/metolodogia-sistemas.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 570px;
  } */


  /****/

  .estudiante-ficha .swiper {
    background-image: url("../../../img/metolodogia-odontologia1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 570px;
  }

  .swiper {
    transition: background-image 1s ease-in-out;
  }

  .estudiante-ficha  .swiper-1 {
    background-image: url("../../../img/metolodogia-odontologia2.webp"); 
  }
  
  .estudiante-ficha  .swiper-2 {
    background-image: url("../../../img/metolodogia-odontologia3.webp");
  }

  /******/


  .link-interno .btn-secondary {
    background-color: #000;
    color: #fff;
  }

  .campo .team-tittle{
    font-family: "Lato-BlackItalic";
    color: #003366;
    font-size: 9px;
    text-align: center;
  }

  .campo .encabezado
  {
    position: absolute;
    z-index: 1;
    justify-content: center;
  }

  .campo .sliders{
    /* top:290px; */
    /* margin-bottom: 240px; */
    margin-bottom: 350px;
  }

  @media(min-width: 768px){
    .ps-3{
      font-size: 19px;
    }

  }

  @media(min-width: 1200px)
  {
    .swiper-slide p {
      font-size: 16px;
      margin-left: 0px;
    }

    .campo .sliders{
      top:330px;
    }

    .campo .team-tittle{
      font-family: "Lato-BlackItalic";
      color: #003366;
      font-size: 20px;
      text-align: center;
      margin-left: 0px
    }

    .campo .team-subtittle
    {
      font-family: "Lato-BlackItalic";
      color: #9f3432;
      font-size: 20px;
      text-align: left;
    }

  	.campo .tittle-perfil {
    	margin-top: 69px;
      margin-left: -60px;
  	}
	
  	.campo .subtittle-perfil {
   	 margin-top: 69px;
  	}

    /*Posición de nuestro equipo ( texto de decano, coordinador)*/
    .campo .swiper-slide{
      /* height: 510px;  */
      height: 285px; 
    }

    .mision-vision p,
    .mision-vision .lbl-mv{
      font-size: 19px;
    }
   

  }

  


  @media (min-width: 1400px) {
    .link-interno .btn-secondary {
      position: relative;
      padding: 5px;
      background-color: #000;
      color: rgb(255, 255, 255);
      margin-top: 22%;
      border: medium;
      font-size: 50px;
      border-radius: 20%;
      border-top-right-radius: 20%;
      border-bottom-right-radius: 20%;
    }

    .tittle-swiper{
      top:68.5%;
    }
  }



