@font-face {
    font-family: "White Dream";
    src: url("../../webfont/WhiteDream.eot") format("embedded-opentype"),
    url("../../webfont/WhiteDream.woff2") format("woff2"),
    url("../../webfont/WhiteDream.woff") format("woff");
}

p.text-x2 {
    font-size: 20px;
}

section {
    margin-top: 50px;
    margin-bottom: 50px;
}

p {
    font-size: 1.5em;
    font-family: 'Urbanist-Regular';
    letter-spacing: .1rem;
    margin-bottom: 50px;
    /*margin-top: 50px;*/
}

.masthead {
    height: 100vh;
    min-height: 500px;
    /*background-image: -webkit-image-set(url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080') 1x);*/
    background-image: -webkit-image-set(url('../../img/random-background.jpeg') 1x);
   /*background-image: -webkit-image-set(url('http://172.173.170.116/img/villa_nueva/villanueva.webp') 1x); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.masthead::after {
    position: absolute;
    content: "";
    bottom: -80px;
    left: -10%;
    width: 120%;
    height: 125px;
    background: #fff;
    border-radius: 50%;
}

.masthead h1 {
    color: #fff;
    font-family: "Lato-LightItalic", sans-serif;
    font-size: 6.2em;
    text-shadow: 3px 3px #000;
    line-height: 71px;
}

.masthead h1 label {
    font-size: 1.4em;
    line-height: 1;
    display: block;
    text-shadow: 3px 3px #000;
    font-weight: 900;
}

h5 {
    text-align: left;
    position: relative;
    font-size: 5.9rem;
    font-family: "Lato-BlackItalic", sans-serif;
    color: #003366;
    font-weight: 100;
    margin-bottom: 45px;
    letter-spacing: .2rem;
}

h5 label {
    font-weight: 100;
}

h2.calendario-completo {
    background-color: #13719c;
    color: #fff;
    margin: -25px;
    min-height: 80px;
    align-items: center !important;
    display: flex;
    justify-content: center;
    font-size: 1.7em;
    font-weight: 400;
    text-transform: uppercase;
}

h2.calendario-completo label {
    align-items: center !important;
    display: flex;
    justify-content: center;
    font-size: 1.7em;
    font-weight: 900;
    margin-left: 10px;
}

h2.calendario-completo span {
    align-items: center !important;
    display: flex;
    justify-content: center;
    font-size: 0.5em;
    font-weight: 400;
    margin-left: 10px;
}

h3.calendario-completo {
 color: #003168;
 margin-top: 35px;
 font-family: "Lato-BlackItalic", sans-serif;
}

h2.calendario {
   background-color: none;
    font-family: "Lato-BlackItalic", sans-serif;
    color: #13719e;
    margin: -25px;
    min-height: 80px;
    align-items: center;
    display: flex;
    text-align: left;
    font-size: 2.2em;
    padding-left: 25px;
    
}

.circle {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    font-size: 50px;
    color: #af2c2a;
    text-align: center;
    background: #fff;
    border: 1px solid #af2c2a;
    font-weight: 900;
    float: inline-start;

    margin-right: 20px;
  }
 

.card-calendario {
    box-shadow: 0px 0px 0px grey;
     -webkit-transition:  box-shadow .4s ease-out;
    box-shadow: .0px .2px 2px grey;
    margin: 15px;
    min-height: 100%;

   }

   .card-calendario:hover{
    box-shadow: 1px 8px 20px grey;
   -webkit-transition:  box-shadow .4s ease-in;
 }


.calendario-estudiante {
    position: relative;
    width: 100%;
    margin-top: -159px;
    margin-left: -127px;
    z-index: 1;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
 }

.icons_service {
    margin: auto;
}

.block_service {
    background-color: #d5d5d5;
    border: 3px solid #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 25px;
    min-height: 350px;
    vertical-align: text-top;
    margin-bottom: 20px;
}

.list_service {
    text-align: left; 
    margin-top: 50px;
}


.pasos {
    border-bottom: 1px solid #6a1a21;
    margin-bottom: 40px;
    display: inline-block;
}


.banner::after {
    background: url("../../img/forma-banner.svg");
    background-position: bottom;
    background-size: 100% 100%;
    bottom: 0px;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    width: 100%;
    }

.contacto_info {
    padding: 40px;
    text-align: left;
}

.picture:link {
    background-color: #0a53be;
}

.picture:hover {
    opacity: 0.5%;
    background-color: #0a53be;
}


.image {
    display: block;
    width: 100%;
    height: auto;
    background-color: #0a53be;
}

.py-4 {
    padding-top: 0rem!important;
    padding-bottom: 1.5rem!important;
    }


    .ExamenAdmision {
        bottom: 0;
        z-index: 1;
      }
      
      .ExamenAdmision h5 {
        font-family: "Lato-BlackItalic";
        color: #fff;
        font-size: 3.9rem;
      }
      
      .ExamenAdmision .DateTime {
        background: #344356;
        opacity: 0.8;
        color: #fff;
      }
      
      .ExamenAdmision .DateTime .getMonth {
        font-family: "Urbanist-Bold";
        letter-spacing: 1.25px;
      }
      
      .ExamenAdmision .DateTime .getDay {
        font-family: "Urbanist-Bold";
        font-size: 70px;
        line-height: .85;
      }

      @media (min-width: 992px) {

        .ExamenAdmision {
          bottom: 140px;
          padding-left: 120px;
        }
      
        .ExamenAdmision .row {
          justify-content: flex-start;
        }
      
        .ExamenAdmision div[class^="col-"]:not(.DateTime) {
          align-items: center;
          display: flex;
          text-align: right;
        }
      
      }

.carreras h2 {
    color: #003366;
    font-family: "Lato-LightItalic", sans-serif;
}

.carreras h2 label {
    display: block;
    font-family: "Lato-BlackItalic", sans-serif;
    font-size: 2.9em;
}

.carreras h4 {
    color: #277892;
    font-family: "Urbanist-Bold" , sans-serif;
    font-size: 18px;
}

.carreras nav a {
    color: #898989;
    line-height: 1.7;
    text-decoration: none;
}

@media (min-width: 576px) {

    .carreras h1 {
        font-size: 36px;
    }

    .carreras h1 label {
        font-size: 51px;
        line-height: 1;
    }

    .carreras h2 {
        font-size: 20px;
    }

    .carreras h2 label {
        font-size: 2.9em;
        line-height: 1;
    }

    .carreras h4 {
        font-size: 23px;
    }

}

@media (min-width: 768px) {

    .carreras h2 {
        font-size: 20px;
    }

    .carreras h2 label {
        font-size: 2.9em;
        line-height: 1;
    }



}

@media (min-width: 992px) {

    .carreras h1 {
        font-size: 53px;
    }

    .carreras h1 label {
        font-size: 70px;
    }

    .carreras h2 {
        font-size: 20px;
    }

    .carreras h2 label {
        font-size: 2.9em;
        line-height: 1;
    }

    .carreras h4 {
        font-size: 20px;
    }

}

@media (min-width: 1200px) {

    .carreras h1 label {
        font-size: 80px;
    }

    .carreras h2 label {
        font-size: 2.9em;
        line-height: 1;
    }

    .banner::after {
        height: 100px;
        }

}




/* */

section.s {
    background: #003366;
    color: #fff;
    margin-top: 50px;
}

section.s h5 {
    font-family: "Urbanist-Bold", sans-serif;
}

section.s .form-label {
    font-size: 14px;
    text-transform: uppercase;
}

section.s .form-select {
    border-radius: 20px;
}

section.s h6 {
    color: #00b1fe;
    font-family: "Urbanist-Bold", sans-serif;
    font-size: 22px;
}

section.s .carrera-label {
    color: #efcc06;
    font-family: "Urbanist-Bold", sans-serif;
}

section.s .contacto p {
    line-height: 1.5;
}

section.s .contacto a {
    color: #fff;
    text-decoration: none;
}

