body{
  overflow-x: hidden;
}

@font-face {
    font-family: "White Dream";
    src: url("../../webfont/WhiteDream.eot") format("embedded-opentype"),
      url("../../webfont/WhiteDream.woff2") format("woff2"),
      url("../../webfont/WhiteDream.woff") format("woff");
  }
  
  p.text-x2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #4d4d4d;
    text-align: justify;
    text-justify: inter-word;
  }

  .masthead {
    height: 100vh;
    min-height: 500px;
    /*background-image: -webkit-image-set(url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080') 1x);*/
    /*background-image: -webkit-image-set(url('http://172.173.170.116/img/villa_nueva/villanueva.webp') 1x);*/
    background-image: -webkit-image-set(url('../../img/villa_nueva/villanueva.webp') 1x);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    transform-origin: center center;
    animation: zoom 10s infinite;
    max-width: 100%;
  }

  @keyframes zoom {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
      /* equals 105% */
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes showTopText {
    0% { transform: translate3d(0, 100%, 0); }
    40%, 60% { transform: translate3d(0, 50%, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }
  @keyframes showBottomText {
    0% { transform: translate3d(0, -100%, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }
  .animated-title {
    color: #222;
    font-family: Roboto, Arial, sans-serif;
    height: 90vmin;
    left: 0%;
    position: absolute;
    top: 0%;
    transform: translate(-50%, -50%);
   
  }
  .animated-title > div {
    height: 50%;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }
  .animated-title > div div {
    font-size: 12vmin;
    padding: 2vmin 0;
    position: absolute;
  }
  .animated-title > div div span {
    display: block;
  }
  .animated-title > div.text-top {
    border-bottom: 1vmin solid #000;
    top: 0;
  }
  .animated-title > div.text-top div {
    animation: showTopText 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
  }
  .animated-title > div.text-top div span:first-child {
    color: #767676;
  }
  .animated-title > div.text-bottom {
    bottom: 0;
  }
  .animated-title > div.text-bottom div {
    animation: showBottomText 0.5s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
  }

.masthead::after {
  position: absolute;
  content: "";
  bottom: -80px;
  left: -10%;
  width: 120%;
  height: 220px;
  background: #fff;
  border-radius: 50%;
}

.masthead h1 {
    color: #fff;
    font-family: "Lato-BlackItalic", sans-serif;
    font-size: 5.0em;
    text-shadow: 3px 3px #000;
    line-height: 71px;
    margin-left: 45px;
  }

.masthead h1 label {
  font-size: 1.0em;
  line-height: 1;
  display: block;
  text-shadow: 3px 3px #000;
  font-family: "Lato-LightItalic";
  font-weight: 900;
}

  h5 {
    text-align: left;
    position: relative;
    font-size: 65px;
    font-family: "Lato-BlackItalic", sans-serif;
    display: block;
    color: #003366;
    
  }

h5 label {
  font-family: "Lato-LightItalic";
}


.contacto-footer h4 {
  color: #982f2e; 
  font-weight: bold;
}

.contacto-footer h5 {
  line-height: 54.2px;
}

.contacto-footer p {
  color: #043665;
}

.contacto-footer a {
  color: #043665;
  font-weight: bold;
  text-decoration: none;
}

.title-container {
  display: flex; /* Utiliza flexbox para alinear elementos horizontalmente */
  align-items: center; /* Alinea verticalmente los elementos */
}

.title {
  margin-right: 20px; /* Espacio entre el título y la línea */
}

.line {
  flex: 1; /* Expande la línea para ocupar el espacio restante */
  height: 2px; /* Grosor de la línea */
  background-color: #54B9FF; /* Color de la línea */
}

  .icons_service {
    margin: auto;
  }

.service-txt {
 color: #0097ff;
  margin-top: 25px;
  font-size: 1.2rem;
  vertical-align: middle;
  min-height: 0px;
  line-height: 20px;
}

  .contacto_info {
    padding: 40px;
    text-align: left;
  }

.picture:link {
  background-color: #0a53be;
}

.picture:hover {
  opacity: 0.5%;
  background-color: #0a53be;
}

.carreras {
  position: relative;
  margin-top: -40px;
  margin-bottom: 105px;
}

.TourVirtual {
  height: 600px; /* Define la altura deseada para recortar */
  overflow: hidden; /* Oculta el contenido que se sale del contenedor */
}

.TourVirtual ul {
  column-gap: calc( var(--bs-gutter-x) * .5);
  grid-template-columns: repeat(1, minmax(0, 1fr));
  row-gap: calc( var(--bs-gutter-x) * .5);
}

.TourVirtual a::before {
  content: url("../../img/tour/360.svg");
  display: block;
  left: 50%;
  position: absolute;
  opacity: .5;
  top: 30%;
  transform: translateX(-50%) translateY(-30%);
  transition: .5s;
  width: 18%;
}

.TourVirtual a:hover::before {
  opacity: 1;
}

.TourVirtual a label {
  cursor: pointer;
  font-family: "Lato-BlackItalic";
  font-size: 7.5vw;
  line-height: 1;
}

.TourVirtual a label span {
  font-family: "Lato-LightItalic";
}

.datos-carrera:after {
  border-right: none;
}


.carreras li {
  color: #ffc602;
}

/* */

.Aula {
  /*background: #c7f1ff;*/
  color: #8f8e9c;
}

.Aula::before {
  background-position: top;
  background-size: 100% 100%;
  content: "";
  display: block;
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.Aula h3.display-3 span {
  font-family: "Lato-LightItalic";
}

.Aula .Escritorio::before {
  background-image: url("../../img/Escritorio-bg.webp");
  background-repeat: no-repeat;
  background-size: 100% auto;
  content: "";
  display: block;
  height: 105%;
  left: -14%;
  position: absolute;
  top: 7%;
  width: 105%;
  z-index: -1;
}

.Aula .vistas-escritorio div:nth-child(1)::before,
.Aula .vistas-escritorio div:nth-child(2)::before,
.Aula .vistas-escritorio div:nth-child(3)::before {
  border-right: #e18333 3px solid;
  content: "";
  display: block;
  height: 50%;
  position: absolute;
  right: 1.5px;
  top: 25%;
  width: 3%;
}

.Aula .vistas-escritorio div:nth-child(2)::before {
  display: none;
}

.Aula .vistas-escritorio div:nth-child(1)::after,
.Aula .vistas-escritorio div:nth-child(2)::after {
  border-bottom: #e18333 3px solid;
  bottom: 1.5px;
  content: "";
  display: block;
  right: 25%;
  position: absolute;
  width: 50%;
}

.Aula .aulas div {
  aspect-ratio: 1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Aula .Learnlab {
  background-image: url('../../img/villa_nueva/villa_nueva_laboratorio1.webp');
}

.Aula .Villanueva_Aula {
  background-image: url('../../img/villa_nueva/villa_nueva_laboratorio2.webp');
}

.Aula .VillaNueva_LaboratorioComputo {
  background-image: url('../../img/villa_nueva/villa_nueva_laboratorio1.webp');
}

.Aula .VillaNueva_Arquitectura_Laboratorio {
  background-image: url('../../img/villa_nueva/villa_nueva_laboratorio2.webp');
}

.Aula .Jutiapa_LaboratorioArquitectura {
  background-image: url('../../img/villa_nueva/villa_nueva_laboratorio1.webp');
}

.Aula .aulas a {
  background: rgba(0,193,255,.0);
  font-family: "Urbanist-Bold";
  left: 0;
  opacity: 0;
  top: 0;
  transition: .5s;
}

.Aula .aulas .btn {
  align-items: center;
  background: none;
  border-radius: 100%;
  color: #000;
  display: flex;
  font-family: uicons-regular-rounded !important;
  height: 30px;
  justify-content: center;
  mix-blend-mode: screen;
  opacity: 0;
  position: absolute;
  right: 30px;
  top: -100%;
  transition: .5s;
  width: 30px;
}

.Aula .aulas a:hover {
  background: rgba(0,193,255,.8);
  opacity: 1;
  transition: .5s;
}

.Aula .aulas a label {
  margin-top: 111%;
  opacity: 0;
  transition: .5s;
}

.Aula .aulas a:hover label {
  opacity: 1;
  margin-top: 0;
}

.Aula .aulas a:hover .btn {
  opacity: 1;
  top: 30px;
}

.Aula .aulas .btn::before {
  background: #fff;
  bottom: 0;
  border-radius: 100%;
  content: "";
  left: 0;
  mix-blend-mode: color-burn;
  position: absolute;
  right: 0;
  top: 0;
}

@media (min-width: 576px) {

  .Aula::before {
    height: 40px;
  }

  .TourVirtual {
    height: 600px; /* Define la altura deseada para recortar */
    overflow: hidden; /* Oculta el contenido que se sale del contenedor */
  }

}

@media (min-width: 768px) {

  .Aula::before {
    height: 60px;
  }

  .Aula .vistas-escritorio div:nth-child(2)::before {
    display: block;
  }

  .Aula .vistas-escritorio div:nth-child(1)::after,
  .Aula .vistas-escritorio div:nth-child(2)::after {
    display: none;
  }

  .Aula .aulas .btn {
    height: 40px;
    font-size: 20px;
    width: 40px;
  }

  .TourVirtual {
    height: 600px; /* Define la altura deseada para recortar */
    overflow: hidden; /* Oculta el contenido que se sale del contenedor */
  }

}

@media (min-width: 992px) {

  .Aula .aulas .btn {
    height: 30px;
    font-size: initial;
    width: 30px;
  }

  .TourVirtual {
    height: 600px; /* Define la altura deseada para recortar */
    overflow: hidden; /* Oculta el contenido que se sale del contenedor */
  }

}

@media (min-width: 1200px) {

  .Aula::before {
    height: 80px;
  }

  .Aula h3.display-3 {
    font-size: 4rem;
  }

  .Aula .aulas .btn {
    height: 40px;
    font-size: 20px;
    width: 40px;
  }

}

.carousel-item .col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer; /* Agregamos un cursor de tipo puntero para indicar que la imagen es clickeable */
}

/* Estilo personalizado para el contenedor del carrusel */
.carousel-container {
  position: relative;
}

/* Estilo personalizado para las flechas de navegación */
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  opacity: 0.7;
  cursor: pointer;
  border-radius: 0; /* Quitamos el borde circular de las flechas */
  color: white;
  font-size: 40px;
  width: 40px; /* Ajustar el ancho de las flechas */
  height: 40px; /* Ajustar el alto de las flechas */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent; /* Cambiar el color de fondo de las flechas a transparente */
  border-bottom: 0; /* Quitamos la línea de abajo de las flechas */
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 2rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

/* Estilo personalizado para los íconos de las flechas */
.carousel-control-prev-icon::before {
  content: "❮"; /* Símbolo para la flecha izquierda */
}

.carousel-control-next-icon::before {
  content: "❯"; /* Símbolo para la flecha derecha */
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.modal-content {
  width: 90% !important;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  background-color: #0a53be;
}

  .carreras h2 {
    color: #003366;
    font-family: "Lato-LightItalic", sans-serif;
  }
  
  .carreras h2 label {
    display: block;
    font-family: "Lato-BlackItalic", sans-serif;
    font-size: 2.9em;
  }

  .carreras h4 {
    color: #277892;
    font-family: "Urbanist-Bold" , sans-serif;
    font-size: 18px;
  }
  
  .carreras nav a {
    color: #898989;
    line-height: 1.7;
    text-decoration: none;
  }


  .icon-container {
    text-align: center;
    transition: transform 0.3s;
    z-index: 2;
}

.icon-container i {
    font-size: 3rem;
    color: #333;
}

.icon-container:hover {
    transform: scale(1.3);
}
  
  @media (min-width: 576px) {

    .carreras h1 {
      font-size: 36px;
    }
  
    .carreras h1 label {
      font-size: 51px;
      line-height: 1;
    }

    .carreras h2 {
      font-size: 20px;
    }
  
    .carreras h2 label {
      font-size: 2.9em;
      line-height: 1;
    }
  
    .carreras h4 {
      font-size: 23px;
    }

  }
  
  @media (min-width: 768px) {

    .carreras h2 {
      font-size: 20px;
    }
  
    .carreras h2 label {
      font-size: 2.9em;
      line-height: 1;
    }

 
  
  }
  
  @media (min-width: 992px) {
  
    .carreras h1 {
      font-size: 53px;
    }
  
    .carreras h1 label {
      font-size: 70px;
    }

    .carreras h2 {
      font-size: 20px;
    }
  
    .carreras h2 label {
      font-size: 2.9em;
      line-height: 1;
    }
  
    .carreras h4 {
      font-size: 20px;
    }
  
  }
  
  @media (min-width: 1200px) {

    .carreras h1 label {
      font-size: 80px;
    }

    .carreras h2 label {
      font-size: 2.9em;
      line-height: 1;
    }

    .datos-carrera:after {
      border-right: 1px solid #0097ff;
      content:'';
      height: 70px;
      width: 300px;
      position: absolute;
      top: 21px;
      z-index: 1;
    }
  
    .TourVirtual {
      height: 950px; /* Define la altura deseada para recortar */
      overflow: hidden; /* Oculta el contenido que se sale del contenedor */
    }

  }
  
  /* */

  section {
    margin-bottom: 50px;
  }

  section.s {
    background: #003366;
    color: #fff;
    margin-bottom: 0px;
  }

  section.s h5 {
    font-family: "Urbanist-Bold", sans-serif;
  }

  section.s .form-label {
    font-size: 14px;
    text-transform: uppercase;
  }

  section.s .form-select {
    border-radius: 20px;
  }

  section.s h6 {
    color: #00b1fe;
    font-family: "Urbanist-Bold", sans-serif;
    font-size: 22px;
  }

  section.s .carrera-label {
    color: #efcc06;
    font-family: "Urbanist-Bold", sans-serif;
  }

  section.s .contacto p {
    line-height: 1.5;
  }

  section.s .contacto a {
    color: #fff;
    text-decoration: none;
  }

