@font-face {
    font-family: "White Dream";
    src: url("../../webfont/WhiteDream.eot") format("embedded-opentype"),
      url("../../webfont/WhiteDream.woff2") format("woff2"),
      url("../../webfont/WhiteDream.woff") format("woff");
  }
  
  p.text-x2 {
    font-size: 20px;
  }

  .masthead {
    height: 100vh;
    min-height: 500px;
    /*background-image: -webkit-image-set(url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080') 1x);*/
    /*background-image: -webkit-image-set(url('http://172.173.170.116/img/villa_nueva/villanueva.webp') 1x);*/
    background-image: -webkit-image-set(url('../../img/villa_nueva/villanueva.webp') 1x);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
  }

.masthead::after {
  position: absolute;
  content: "";
  bottom: -80px;
  left: -10%;
  width: 120%;
  height: 125px;
  background: #fff;
  border-radius: 50%;
}

.masthead h1 {
    color: #fff;
    font-family: "Lato-LightItalic", sans-serif;
    font-size: 6.2em;
    text-shadow: 3px 3px #000;
    line-height: 71px;
  }

.masthead h1 label {
  font-size: 1.4em;
  line-height: 1;
  display: block;
  text-shadow: 3px 3px #000;
  font-weight: 900;
}

  h5 {
    text-align: left;
    position: relative;
    font-size: 65px;
    font-family: "Lato-BlackItalic", sans-serif;
    display: block;
    color: #003366;
  }
  
 
  h5:after {
    background-color: #0097ff;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 70%;
    left: 0.5em;
    margin-right: -50%;
   overflow: hidden;
  }

  .icons_service {
    margin: auto;
  }

  .banner::after {
    background: url("../../img/forma_portada.svg");
    background-position: bottom;
    background-size: 100% 100%;
    bottom: 0px;
    content: "";
    display: block;
    height: 320px;
    position: absolute;
    width: 100%;
    }

    .banner h1 {
      color: #fff;
      font-family: "Lato-LightItalic", sans-serif;
      font-size: 6.2em;
      text-shadow: 3px 3px #000;
      line-height: 71px;
      position: relative;
    }

  .contacto_info {
    padding: 40px;
    text-align: left;
  }

.picture:link {
  background-color: #0a53be;
}

.picture:hover {
  opacity: 0.5%;
  background-color: #0a53be;
}


.carousel-item .col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer; /* Agregamos un cursor de tipo puntero para indicar que la imagen es clickeable */
}

/* Estilo personalizado para el contenedor del carrusel */
.carousel-container {
  position: relative;
}

/* Estilo personalizado para las flechas de navegación */
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  opacity: 0.7;
  cursor: pointer;
  border-radius: 0; /* Quitamos el borde circular de las flechas */
  color: white;
  font-size: 24px;
  width: 40px; /* Ajustar el ancho de las flechas */
  height: 40px; /* Ajustar el alto de las flechas */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent; /* Cambiar el color de fondo de las flechas a transparente */
  border-bottom: 0; /* Quitamos la línea de abajo de las flechas */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

/* Estilo personalizado para los íconos de las flechas */
.carousel-control-prev-icon::before {
  content: "❮"; /* Símbolo para la flecha izquierda */
}

.carousel-control-next-icon::before {
  content: "❯"; /* Símbolo para la flecha derecha */
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.modal-content {
  width: 90% !important;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  background-color: #0a53be;
}

.carreras {
  padding-top: 0px;
}

  .carreras h2 {
    color: #003366;
    font-family: "Lato-LightItalic", sans-serif;
  }
  
  .carreras h2 label {
    display: block;
    font-family: "Lato-BlackItalic", sans-serif;
    font-size: 2.9em;
  }

  .carreras h4 {
    color: #277892;
    font-family: "Urbanist-Bold" , sans-serif;
    font-size: 18px;
  }
  
  .carreras nav a {
    color: #898989;
    line-height: 1.7;
    text-decoration: none;
  }
  
  @media (min-width: 576px) {

    .carreras h1 {
      font-size: 36px;
    }
  
    .carreras h1 label {
      font-size: 51px;
      line-height: 1;
    }

    .carreras h2 {
      font-size: 20px;
    }
  
    .carreras h2 label {
      font-size: 2.9em;
      line-height: 1;
    }
  
    .carreras h4 {
      font-size: 23px;
    }

  }
  
  @media (min-width: 768px) {

    .carreras h2 {
      font-size: 20px;
    }
  
    .carreras h2 label {
      font-size: 2.9em;
      line-height: 1;
    }

 
  
  }
  
  @media (min-width: 992px) {
  
    .carreras h1 {
      font-size: 53px;
    }
  
    .carreras h1 label {
      font-size: 70px;
    }

    .carreras h2 {
      font-size: 20px;
    }
  
    .carreras h2 label {
      font-size: 2.9em;
      line-height: 1;
    }
  
    .carreras h4 {
      font-size: 20px;
    }
  
  }
  
  @media (min-width: 1200px) {

    .carreras h1 label {
      font-size: 80px;
    }

    .carreras h2 label {
      font-size: 2.9em;
      line-height: 1;
    }
  
  }
  
  /* */

  section.s {
    background: #003366;
    color: #fff;
  }

  section.s h5 {
    font-family: "Urbanist-Bold", sans-serif;
  }

  section.s .form-label {
    font-size: 14px;
    text-transform: uppercase;
  }

  section.s .form-select {
    border-radius: 20px;
  }

  section.s h6 {
    color: #00b1fe;
    font-family: "Urbanist-Bold", sans-serif;
    font-size: 22px;
  }

  section.s .carrera-label {
    color: #efcc06;
    font-family: "Urbanist-Bold", sans-serif;
  }

  section.s .contacto p {
    line-height: 1.5;
  }

  section.s .contacto a {
    color: #fff;
    text-decoration: none;
  }

