@font-face {
    font-family: "White Dream";
    src: url("../../webfont/WhiteDream.eot") format("embedded-opentype"),
      url("../../webfont/WhiteDream.woff2") format("woff2"),
      url("../../webfont/WhiteDream.woff") format("woff");
  }
  
  .carreras h1 {
    border-bottom: 2px solid;
    color: #003366;
    font-family: "Lato-LightItalic";
  }
  
  .carreras h1 label {
    display: block;
    font-family: "Lato-BlackItalic";
    font-size: 38px;
  }
  
  .carreras h4 {
    color: #277892;
    font-family: "Urbanist-Bold";
    font-size: 18px;
  }
  
  .carreras nav a {
    color: #898989;
    line-height: 1.7;
    text-decoration: none;
  }
  
  @media (min-width: 576px) {
  
    .carreras h1 {
      font-size: 36px;
    }
  
    .carreras h1 label {
      font-size: 51px;
      line-height: 1;
    }
  
    .carreras h4 {
      font-size: 23px;
    }
  
  }
  
  @media (min-width: 768px) {
  
    .carreras h1 {
      font-size: 43px;
    }
  
    .carreras h1 label {
      font-size: 53px;
      line-height: 0.8;
    }
  
  }
  
  @media (min-width: 992px) {
  
    .carreras h1 {
      font-size: 53px;
    }
  
    .carreras h1 label {
      font-size: 70px;
    }
  
    .carreras h4 {
      font-size: 20px;
    }
  
  }
  
  @media (min-width: 1200px) {
  
    .carreras h1 label {
      font-size: 80px;
    }
  
  }
  
  /* */
  
  section.s {
    background: #003366;
    color: #fff;
  }
  
  section.s h5 {
    font-family: "Urbanist-Bold";
  }
  
  section.s .form-label {
    font-size: 14px;
    text-transform: uppercase;
  }
  
  section.s .form-select {
    border-radius: 20px;
  }
  
  section.s h6 {
    color: #00b1fe;
    font-family: "Urbanist-Bold";
    font-size: 22px;
  }
  
  section.s .carrera-label {
    color: #efcc06;
    font-family: "Urbanist-Bold";
  }
  
  section.s .contacto p {
    line-height: 1.5;
  }
  
  section.s .contacto a {
    color: #fff;
    text-decoration: none;
  }
  
  @media (min-width: 576px) {
  
    section.s h5 {
      font-size: 22px;
    }
  
    section.s h6 {
      font-size: 26px;
    }
  
    section.s .carrera-label {
      font-size: 20px;
    }
  
  }
  
  @media (min-width: 768px) {
  
    section.s h5 {
      font-size: 25px;
    }
  
  }
  
  /* */
  
  .acerca {
    position: relative;
  }
  
  .acerca::after {
    background: #cacaca;
    content: "";
    display: block;
    height: 50%;;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: -1;
  }
  
  .acerca h2 {
    color: #003365;
    font-family: "Lato-LightItalic";
  }
  
  .acerca h2 label {
    font-family: "Lato-BlackItalic";
  }
  
  .acerca video {
    width: 100%;
  }
  
  .acerca .btn-info {
    background-color: #5dc4e7;
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.3px;
    text-transform: uppercase;
  }
  
  @media (min-width: 576px) {
  
    .acerca h2 {
      font-size: 30px;
    }
  
    .acerca .btn-info {
      font-size: 17px;
    }
  
  }
  
  @media (min-width: 768px) {
  
    .acerca h2 {
      font-size: 38px;
    }
  
  }
  
  @media (min-width: 768px) {
  
    .acerca h2 {
      font-size: 48px;
    }
  
  }
  
  /* */
  
  .decano h3 {
    color: #003466;
    font-family: "Lato-LightItalic";
    font-size: 29px;
    line-height: 0.8;
  }
  
  .decano h3 label {
    display: block;
    font-family: "Lato-BlackItalic";
  }
  
  .decano .blockquote {
    color: #888888;
    font-size: 16px;
    line-height: 1.3;
  }
  
  .decano .blockquote-footer {
    color: #003466;
    font-family: "White Dream";
    font-size: 40px;
  }
  
  .decano .blockquote-footer::before {
    display: none;
  }
  
  @media (min-width: 768px) {
  
    .decano h3 {
      font-family: 34px;
    }
  
  }
  
  @media (min-width: 992px) {
  
    .decano h3 {
      font-size: 39px;
    }
  
    .decano .blockquote {
      font-size: 18px;
    }
  
    .decano .blockquote-footer {
      font-size: 46px;
    }
  
  }
  
  @media (min-width: 992px) {
  
    .decano h3 {
      font-size: 45px;
    }
  
  }
  
  /* */
  
  section.proyectos {
    background: #cacaca;
  }
  
  section.proyectos h3 {
    color: #003466;
    font-family: "Lato-LightItalic";
    font-size: 29px;
    line-height: 0.8;
  }
  
  section.proyectos h3 label {
    font-family: "Lato-BlackItalic";
    font-size: 35px;
  }
  
  section.proyectos p {
    color: #263e6d;
    font-size: 18px;
  }
  
  section.proyectos .btn-info {
    background-color: #5dc4e7;
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.3px;
    text-transform: uppercase;
  }
  
  @media (min-width: 768px) {
  
    section.proyectos h3 {
      font-family: 35px;
    }
  
  }